body{
	font-family: sans-serif;
  text-align: center;
}

h1 {
  color: teal;
}
table.tblList {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
}

.tblList td,
.tblList th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tblList tbody tr:nth-child(odd) {
  background-color: #dddddd;
}

.button {
  background-color: teal;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
}

.btn {
  cursor:pointer;
  background-color: teal;
  color: white;
  padding: 5px 10px;
  margin: 5px 5px;
  text-decoration: none;
  text-transform: uppercase;
}